/* src/components/Performance.css */

.performance-container {
    width: 300px;
    margin: 0 auto;
  }
  
  .performance-container h2 {
    text-align: center;
  }
  
  .performance-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .performance-container li {
    margin-bottom: 5px;
  }
  